@import "tailwindcss";

:root,
[data-theme="light"] {
  /* ----- Landing colors ----- */
  --color-landing-primary-bg: #ecf5ff;
  --color-landing-secondary-bg: #ffffff;
  --color-landing-border: #a2caff;

  /* ----- Auth colors ----- */
  --color-auth-secondary-bg: #fff;

  /* ----- Chat colors ----- */
  --color-chat-primary-bg: #c6d2eb;
  --color-chat-secondary-bg: #e2e8f3;
  --color-chat-tertiary-bg: #f4f6fa;
  --color-chat-tertiary-bg-hover: #fff;
  --color-chat-primary-border: #b7c6e1;
  --color-chat-secondary-border: #c3cee4;
  --color-chat-msg-out: #d6dcff;
  --color-chat-msg-in: #ffffff;

  /* ----- Font colors ----- */
  --color-primary-font: #000000;
  --color-secondary-font: #00000050;

  /* ----- Contrast colors ----- */
  --color-contrast: #0048ff;
  --color-contrast-20: #0048ff20;
  --color-contrast-hover: #1a5bff;

  /* ----- Subscription colors ----- */
  --color-subscription-light-purple-bg: #d3dcff;
  --color-subscription-yellow-bg: #f8b21a;
  --color-subscription-blue-bg: #1a89f8;
  --color-subscription-sea-blue-bg: #1af0f8;
  --color-subscription-light-pink-bg: #ffa1d0;
  --color-subscription-pink-bg: #ff3072;
  --color-subscription-purple-bg: #a3a9ff;
  --color-subscription-violet-bg: #dcafff;

  /* ----- Addition colors ----- */
  --color-glare: #a4caff;
  --color-hover-shadow: #00000025;
  --color-theme-button: #fff;
  --color-theme-button-hover: #fff;
  --color-track-active-color: #0048ff;
}

[data-theme="dark"] {
  /* ----- Landing colors ----- */
  --color-landing-primary-bg: #000a14;
  --color-landing-secondary-bg: #00113c50;
  --color-landing-border: #001e6b;

  /* ----- Auth colors ----- */
  --color-auth-secondary-bg: #121b30;

  /* ----- Chat colors ----- */
  --color-chat-primary-bg: #000a14;
  --color-chat-secondary-bg: #121b30;
  --color-chat-tertiary-bg: #1c294a;
  --color-chat-tertiary-bg-hover: #23345d;
  --color-chat-primary-border: #1c2a4a;
  --color-chat-secondary-border: #23345d;
  --color-chat-msg-out: #3b4070;
  --color-chat-msg-in: #252845;

  /* ----- Font colors ----- */
  --color-primary-font: #fff;
  --color-secondary-font: #ffffff50;

  /* ----- Contrast colors ----- */
  --color-contrast: #366fff;
  --color-contrast-20: #366fff20;
  --color-contrast-hover: #4d7fff;

  /* ----- Subscription colors ----- */
  --color-subscription-light-purple-bg: #5f6b99;
  --color-subscription-yellow-bg: #9a6c09;
  --color-subscription-blue-bg: #2178d0;
  --color-subscription-sea-blue-bg: #00c0c7;
  --color-subscription-light-pink-bg: #9e6481;
  --color-subscription-pink-bg: #dd1b58;
  --color-subscription-purple-bg: #4951cd;
  --color-subscription-violet-bg: #7b2bb8;

  /* ----- Addition colors ----- */
  --color-glare: #000f2f;
  --color-hover-shadow: rgb(48, 15, 132);
  --color-theme-button: #081946;
  --color-theme-button-hover: #091d52;
  --color-track-active-color: #385394;
}

@theme {
  /* ----- Landing colors ----- */
  --color-landing-primary-bg: var(--color-landing-primary-bg);
  --color-landing-secondary-bg: var(--color-landing-secondary-bg);
  --color-landing-border: var(--color-landing-bg);

  /* ----- Auth colors ----- */
  --color-auth-secondary-bg: var(--color-auth-secondary-bg);

  /* ----- Chat colors ----- */
  --color-chat-primary-bg: var(--color-chat-primary-bg);
  --color-chat-secondary-bg: var(--color-chat-secondary-bg);
  --color-chat-tertiary-bg: var(--color-chat-tertiary-bg);
  --color-chat-tertiary-bg-hover: var(--color-chat-tertiary-bg-hover);
  --color-chat-primary-border: var(--color-chat-primary-border);
  --color-chat-secondary-border: var(--color-chat-secondary-border);
  --color-chat-msg-out: var(--color-chat-msg-out);
  --color-chat-msg-in: var(--color-chat-msg-in);

  /* ----- Font colors ----- */
  --color-primary-font: var(--color-primary-font);
  --color-secondary-font: var(--color-secondary-font);
  --color-tertiary-font: #fff;

  /* ----- Contrast colors ----- */
  --color-contrast: var(--color-contrast);
  --color-contrast-20: var(--color-contrast-20);
  --color-contrast-hover: var(--color-contrast-hover);

  /* ----- Subscription colors ----- */
  --color-subscription-light-purple-bg: var(
    --color-subscription-light-purple-bg
  );
  --color-subscription-yellow-bg: var(--color-subscription-yellow-bg);
  --color-subscription-blue-bg: var(--color-subscription-blue-bg);
  --color-subscription-sea-blue-bg: var(--color-subscription-sea-blue-bg);
  --color-subscription-light-pink-bg: var(--color-subscription-light-pink-bg);
  --color-subscription-pink-bg: var(--color-subscription-pink-bg);
  --color-subscription-purple-bg: var(--color-subscription-purple-bg);
  --color-subscription-violet-bg: var(--color-subscription-violet-bg);
  --color-current-tarif: #5f6b99;

  /* ----- Default colors ----- */
  --color-red-bg-20: #c7555520;
  --color-red-bg-30: #c7555530;
  --color-red-bg: #c75555;

  --color-green-bg-20: #21c45d20;
  --color-green-bg-30: #21c45d30;
  --color-green-bg: #21c45d;

  /* ----- Addition colors ----- */
  --color-glare: var(--color-glare);
  --color-hover-shadow: var(--color-hover-shadow);
  --color-theme-button: var(--color-theme-button);
  --color-theme-button-hover: var(--color-theme-button-hover);
  --color-track-active-color: var(--color-track-active-color);

  /* ----- Animations ----- */
  --animate-fade-in: fadeIn 0.4s ease;
  --animate-fade-in-right: fadeInRight 0.4s ease;
  --animate-fade-in-bottom: fadeInBottom 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-border) transparent;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary-border);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-border);
  }
}
