@import "tailwindcss";

:root,
[data-theme="light"] {
  --color-landing-bg: #ecf5ff;
  --color-landing-secondary-bg: #ffffff80;

  --color-subscription-light-purple-bg: #d3dcff;
  --color-subscription-yellow-bg: #f8b21a;
  --color-subscription-blue-bg: #1a89f8;
  --color-subscription-sea-blue-bg: #1af0f8;
  --color-subscription-light-pink-bg: #ffa1d0;
  --color-subscription-pink-bg: #ff3072;
  --color-subscription-purple-bg: #a3a9ff;
  --color-subscription-violet-bg: #dcafff;

  --color-auth-bg: #ecf5ff;
  --color-auth-input-bg: #ffffff;

  --color-chat-bg: #d9ddf2;
  --color-chat-gradient-bg-1: #f7f8fd;
  --color-chat-gradient-bg-2: #eceef9;
  --color-chat-secondary-bg: #eceef9;
  --color-chat-tertiary-bg: #ffffff;
  --color-chat-tertiary-bg-hover: #efefef;
  --color-chat-selected-bg: #f3f5fb;

  --color-font-primary: #000000;
  --color-font-primary-hover: #31324f;
  --color-font-secondary: #9192aa;
  --color-font-primary-hover: #5054ce;

  --color-glare: #6f98ff;

  --color-primary-border: #c4c7db;
  --color-secondary-border: #ced1df;
  --color-tertiary-border: #b9cbff;
  --color-border: #a6a8bb;

  --color-theme-button: #edefff;

  --color-hover-shadow: #00000025;
}

[data-theme="dark"] {
  --color-landing-bg: #0a0a10;
  --color-landing-secondary-bg: #1d1f30;

  --color-subscription-purple-bg: #5f6b99;
  --color-subscription-yellow-bg: #9a6c09;
  --color-subscription-blue-bg: #2178d0;
  --color-subscription-sea-blue-bg: #00c0c7;
  --color-subscription-light-pink-bg: #9e6481;
  --color-subscription-pink-bg: #dd1b58;
  --color-subscription-purple-bg: #4951cd;
  --color-subscription-violet-bg: #7b2bb8;

  --color-auth-bg: #0a0a10;
  --color-auth-input-bg: #0f1126;

  --color-chat-bg: #0a0a10;
  --color-chat-gradient-bg-1: #262940;
  --color-chat-gradient-bg-2: #1d1f30;
  --color-chat-secondary-bg: #1d1f30;
  --color-chat-tertiary-bg: #30334f;
  --color-chat-tertiary-bg-hover: #474b74;
  --color-chat-selected-bg: #262940;

  --color-font-primary: #ffffff;
  --color-font-primary-hover: #dfe1ec;
  --color-font-secondary: #ffffff80;
  --color-font-primary-hover: rgb(234, 237, 255);

  --color-glare: rgb(18, 22, 69);

  --color-primary-border: #32354e;
  --color-secondary-border: #404468;
  --color-tertiary-border: #32354e;
  --color-border: #434764;

  --color-theme-button: #2e3160;

  --color-hover-shadow: rgb(48, 15, 132);
}

@theme {
  --color-landing-bg: var(--color-landing-bg);
  --color-landing-secondary-bg: var(--color-landing-secondary-bg);

  --color-subscription-light-purple-bg: var(
    --color-subscription-light-purple-bg
  );
  --color-subscription-yellow-bg: var(--color-subscription-yellow-bg);
  --color-subscription-blue-bg: var(--color-subscription-blue-bg);
  --color-subscription-sea-blue-bg: var(--color-subscription-sea-blue-bg);
  --color-subscription-light-pink-bg: var(--color-subscription-light-pink-bg);
  --color-subscription-pink-bg: var(--color-subscription-pink-bg);
  --color-subscription-purple-bg: var(--color-subscription-purple-bg);
  --color-subscription-violet-bg: var(--color-subscription-violet-bg);
  --color-current-tarif: #5f6b99;

  --color-auth-bg: var(--color-auth-bg);
  --color-auth-input-bg: var(--color-auth-input-bg);

  --color-chat-bg: var(--color-chat-bg);
  --color-chat-gradient-bg-1: var(--color-chat-gradient-bg-1);
  --color-chat-gradient-bg-2: var(--color-chat-gradient-bg-2);
  --color-chat-secondary-bg: var(--color-chat-secondary-bg);
  --color-chat-tertiary-bg: var(--color-chat-tertiary-bg);
  --color-chat-tertiary-bg-hover: var(--color-chat-tertiary-bg-hover);
  --color-chat-selected-bg: var(--color-chat-selected-bg);

  --color-font-primary: var(--color-font-primary);
  --color-font-primary-hover: var(--color-font-primary-hover);
  --color-font-secondary: var(--color-font-secondary);
  --color-font-tertiary: #ffffff;
  --color-font-contrast: #003dd8;
  --color-hover-font-contrast: #0048ff;
  --color-font-primary-hover: var(--color-font-primary-hover);

  --color-button-gradient-start: #8090ff;
  --color-button-gradient-end: #6777e4;

  --color-glare: var(--color-glare);

  --color-primary-border: var(--color-primary-border);
  --color-secondary-border: var(--color-secondary-border);
  --color-tertiary-border: var(--color-tertiary-border);
  --color-border: var(--color-border);

  --color-theme-button: var(--color-theme-button);

  --color-hover-shadow: var(--color-hover-shadow);

  --color-bg-contrast-20: #8090ff20;
  --color-contrast: #0048ff;

  --color-red-bg-20: #c7555520;
  --color-red-bg-30: #c7555530;
  --color-red-bg: #c75555;

  --color-green-bg-20: #21c45d20;
  --color-green-bg-30: #21c45d30;
  --color-green-bg: #21c45d;

  --color-yellow-bg-20: #f59f0920;
  --color-yellow-bg-30: #f59f0930;
  --color-yellow-bg: #f59f09;

  --animate-fade-in: fadeIn 0.4s ease;
  --animate-fade-in-right: fadeInRight 0.4s ease;
  --animate-fade-in-bottom: fadeInBottom 0.4s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
