.transactions::-webkit-scrollbar {
  width: 4px;
}

.transactions::-webkit-scrollbar-track {
  background: transparent;
}

.transactions::-webkit-scrollbar-thumb {
  background: var(--color-primary-border);
  border-radius: 3px;
}

.transactions::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transactions {
  scrollbar-width: small;
  scrollbar-color: var(--color-primary-border) transparent;
}
