.transactions::-webkit-scrollbar {
  width: 4px; /* или 4px для более тонкого */
}

.transactions::-webkit-scrollbar-track {
  background: transparent;
}

.transactions::-webkit-scrollbar-thumb {
  background: var(--color-primary-border);
  border-radius: 3px;
}

.transactions::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-border);
}

.transactions {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary-border) transparent;
}
